@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

.main-custom {
    text-align: center;
    height:100vh;
    background-image: linear-gradient(rgb(175, 221, 235), rgb(199, 190, 233));
}
#title-custom {
    padding: 1rem 0rem;
    border-bottom: 2px solid rgba(47, 0, 255, 0.61);
    background-color: rgb(245, 245, 248);
    color: #0A5295;
    /* font-family: 'Mochiy Pop P One', sans-serif; */
    font-family: 'Roboto';
    font-size: 2rem;
}

.videos-custom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.videos-custom p {
    text-align: left;
    margin-left: 1vw;
    margin-bottom: 0rem;
}

video{
    width:95%;
    margin: 0.5rem 0.5rem;
    border: 3px solid rgba(18, 17, 92, 0.829);
    /* height: 50vh; */
}
.options-custom {
    margin: 0 auto;
    width: 100%;
}

.ideos-custom {
    width: fit-content;
    margin: 0 auto;
    display: flex;
}
.button-custom {
    margin: 1rem 2rem;
    padding: 0.4rem 1rem;
    
}

.mute-button-custom{
    margin: 0rem 2rem;
    padding: 0.4rem 1rem;
}
/* Android media queries */
@media screen and (min-device-width: 0px) and (max-device-width: 768px) { 
    .main-custom{
        height: 100%;
    }
    .videos-custom{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        
    }

}