.main{
    display: flex;
    
}
.elli1{
    position: absolute;
    width: 127px;
    height: 121px;
    right: -20px;
    top: -31px;
    border-radius: 50%;

    background: #517EF2;
}

.elli2{
    position: absolute;
    width: 153px;
    height: 170px;
    right: -10px;
    top: -44px;
    border-radius: 50%;

    background: rgba(99, 160, 255, 0.21);
}
.title{
    position: absolute;
    width: 151px;
    height: 43px;
    right: 150px;
    top: 33px;

    font-family: Ranchers;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;

    font-weight: bold;
    color: rgba(10, 82, 149, 0.9);
}

.name{
    position: absolute;
    width: 243px;
    height: 48px;
    right: 130px;
    top: 74px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: rgba(103, 81, 242, 0.72);

}

.title2{
    position: absolute;
    width: 306px;
    height: 94px;
    left: 32px;
    top: 135px;

    font-family: Ribeye Marrow;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;

    color: #1E3583;

}

.style-nav{
    margin-top: 220px;
}

.text{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-size: 30px;
    line-height: 10px;
    margin: 10px 20px;
    /* identical to box height */
    color: #517EF2;
}
