/* .profile-card {
    width: 30rem;
    height: 90vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: #ffffff;
    overflow: hidden;
}

.profile-card img {
    width: 90%;
    padding: 2em;
    border-radius: 50%;
}

.card-body-custom {
    text-align: center;
}

.card-text{
    width: 100%;
    text-align: justify;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 1rem;
} */

.outer-div,
.inner-div {
  height: 450px;
  /* margin: 0 auto; */
  position: relative;
}

.inner-div {
  height: 450px;
  /* margin: 0 auto; */
  position: relative;
}

.inner-div {
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 400;
  color: #071011;
  font-size: 1rem;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
  transform-style: preserve-3d;
}
.inner-div:hover .social-icon {
  opacity: 1;
  top: 0;
}

.front,
.back {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  cursor: pointer;
  height: 100%;
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.front_bkg-photo {
  position: relative;
  height: 150px;
  width: 300px;
  background: url("https://static.businessworld.in/article/article_extra_large_image/1475737802_2yviCY_life-insurance-shutterstock-article.jpg")
    no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.front_bkg-photo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.front_face-photo {
  position: relative;
  top: -60px;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #fff;
  background: url("https://cdn.iconscout.com/icon/free/png-256/doctor-1659516-1410038.png")
    no-repeat;
  background-size: cover;
  overflow: hidden;
}

.front_text {
  position: relative;
  top: -55px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 18px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front_text .front_text-header {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}
.front_text .front_text-para {
  position: relative;
  top: -5px;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.front_text .front-icons {
  position: relative;
  top: 0;
  font-size: 14px;
  margin-right: 6px;
  color: gray;
}
.front_text .front_text-hover {
  position: relative;
  top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: tomato;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: 2px solid #00aacf;
  padding: 8px 15px;
  border-radius: 30px;
  background: #00aeff;
  color: #fff;
}

.back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #071011;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media-wrapper {
  font-size: 36px;
}
.social-media-wrapper .social-icon {
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);
}
.social-media-wrapper .social-icon:nth-child(1) {
  transition-delay: 0.6s;
}
.social-media-wrapper .social-icon:nth-child(2) {
  transition-delay: 0.7s;
}
.social-media-wrapper .social-icon:nth-child(3) {
  transition-delay: 0.8s;
}
.social-media-wrapper .social-icon:nth-child(4) {
  transition-delay: 0.9s;
}

.fab,
.fas {
  position: relative;
  top: 0;
  left: 0;
  transition: all 200ms ease-in-out;
}

.fab:hover,
.fas:hover {
  top: -5px;
}

.video-icon {
  color: #00aeff;
}
