.App {
  background: #00aacf;
  height: 100%;
  width: 100vw;
  padding-bottom: 2rem;
}

.docpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.btn-vdo {
  padding: 0.8rem 1rem;
  background: #00aacf;
  border: none;
  border-radius: 50%;
  color: white;
}
